:root {
  --logo-text: 'Raleway', sans-serif;
  --primary-text: 'Roboto', sans-serif;
  --color-title: #2e2f42;
  --discription-tex-color: #434455;
  --primary-button-bg: #4d5ae5;
  --primary-button-color: #ffffff;
  --primary-button-filter-bg: #f4f4fd;
  --batton-hover-bg: #404bbf;
  --icom-primary-color: #8e8f99;
  --transition-dur-and-fun: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* ===============DROPPING DEFULT STYLE================= */
h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  padding-top: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

address {
  font-style: normal;
}

button {
  cursor: pointer;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

/* ===============/DROPPING DEFULT STYLE================= */

/* ===============COMPONENTS================= */
body {
  font-family: var(--primary-text);
  color: #434455;
  background-color: #ffffff;
}

.hidden-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
  }
  
  @media screen and (min-width: 480px) {
    .container {
      width: 426px;
      margin-left: auto;
      margin-right: auto;
    }
  }
  
  @media screen and (min-width: 768px) {
      .container {
        width: 763px;
      }
    }
  
    @media screen and (min-width: 1200px) {
      .container {
        width: 1200px;
      }
    }
  

.subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-title);
}

.discription-text {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--discription-tex-color);
  margin-bottom: 0;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--color-title);
  margin-bottom: 72px;
}

/*===============/COMPONENTS===============*/

.mobile-menu-icon {
    fill: #2e2f42;
}






/* ===============LOGO=============== */
.logotype {
  font-family: var(--logo-text);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  margin-right: 76px;
}

.logotype-part-header {
  color: #2e2f42;
}

.logotype-part-footer {
  color: #f4f4fd;
}
/* ===============/LOGO=============== */
